body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.state-picker {

  .items{
    overflow-y: scroll;
    height: 500px;

  }

  @media(hover: hover) {
    /* Only for screens with hover enabled*/
    li:hover, li:active {
      background-color: #34e1eb;
    }
  }

  @media only screen and (max-width: 768px) and (orientation: portrait) {
    /* For mobile Screens width < 768 and portrait*/
    .items {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 15px 0;
      margin: 0 5px;
      height: auto;

      li {
        display: inline;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0 5px;
      }
    }
  }

  @media only screen  and (max-width: 768px) and (orientation: landscape) {
    /* mobile screens in landscape*/
    .items {
      height: 260px;
    }
  }
}

.corner-icon {
  display: inline-block;
  margin: 8px 8px 8px 8px;
}