html, body, #root {
  height: 100%;
}

.col-centered {
  display: inline-block;
  float: none;
  /* inline-block space fix */
  margin-right: -4px;
  background-color: #ccc;
  border: 1px solid #ddd;
}

.corner-icon {
  display: inline-block;
  margin: 8px 8px 8px 8px;
}

.overview {
  .state-stats {
    margin: 0px 0;
  }

  .state-card {
    margin: 5px 0;
  }

  .graph-links {
    margin: 0 15px;
  }
}

.chart-page {
  height: 85%;

  @media only screen and (max-width: 768px) {
    /* For mobile Screens width < 768 and portrait*/
    .header-line {
      h4 {
        font-size: 1.2rem;
      }
    }
  }
}

.state-picker {

  .items{
    overflow-y: scroll;
    height: 500px;

  }

  @media(hover: hover) {
    /* Only for screens with hover enabled*/
    li:hover, li:active {
      background-color: #34e1eb;
    }
  }

  @media only screen and (max-width: 768px) and (orientation: portrait) {
    /* For mobile Screens width < 768 and portrait*/
    .items {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 15px 0;
      margin: 0 5px;
      height: auto;

      li {
        display: inline;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0 5px;
      }
    }
  }

  @media only screen  and (max-width: 768px) and (orientation: landscape) {
    /* mobile screens in landscape*/
    .items {
      height: 260px;
    }
  }
}

.last-updated {
  color: gray;
  font-size: small;
}

.field-tick {

  font-size: medium;

  @media only screen and (max-width: 768px) {
    /* For mobile Screens width < 768*/
    font-size: small;
  }
}

.card-decline {
  a, .no-change {
    // color: black;
    color: inherit;
  }
}